{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home Page{% endblock %}</title>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"></script>
    <script src="{% static 'booking/js/myscript.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'booking/css/style.css' %}">
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'img/favicon.ico' %}">
</head>

<body>
    {% include "includes/navbar.html" %}
    <main class="my-main-style">
        <div class="ui large center aligned container" id="homepage">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    {% include 'includes/footer.html' %}
</body>

</html>