{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home Page{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'booking/css/style.css' %}">    
</head>
<body>
    {% include "includes/navbar.html" %}
    <main class="ui large centred container vh80" id="homepage">
        {% block content %}
        {% endblock %}
    </main>
    {% include 'includes/footer.html' %}
</body>
</html>