{% load static %}

<div class="ui segment">
    <div class="ui stackable menu">
        <a href={% url 'home' %} class="header item">
            <img src="{% static 'booking/img/logo.png' %}"
                 alt = "Flag of the Isle of Man">
        </a>
        <a href={% url 'create-booking-form' %} class="item">Create<br>Booking</a>
        <div class="item">
            <form action={% url 'search-bookings' %} method="get">
                <input type="text" name="query" placeholder="Search Bookings">
                <button type="submit">Search</button>
            </form>
        </div>
        <a href={% url 'login' %} class="ui item">Login</a>
        <div class="right menu">
            <a href={% url 'logout_user' %} class="ui item">LogOut</a>
            <a href={% url 'register' %}  class="ui item">Register</a>
        </div>
    </div>
</div>