{% load static %}

<div class="ui segment">
    <div class="ui stackable menu">
        {% if request.user.is_authenticated %}
            <a href={% url 'home' %} class="header item">
                <img src="{% static 'booking/img/logo.png' %}"
                     alt = "Flag of the Isle of Man">
            </a>
            <a href={% url 'create-booking-form' %} class="item">Create<br>Booking</a>
            <div class="item">
                <form action={% url 'search-bookings' %} method="get">
                    <input type="text" name="query" placeholder="Search Bookings">
                    <button type="submit">Search</button>
                </form>
            </div>

        {% else %}
            <a href={% url 'login' %} class="ui item">Login</a>
        {% endif %}
        <div class="right menu">
            {% if request.user.is_authenticated %}
                <a href={% url 'logout_user' %} class="ui item">LogOut</a>
            {% else %}
                <a href={% url 'register' %}  class="ui item">Register</a>
            {% endif %}
        </div>
    </div>
</div>