{% extends 'includes/base.html' %}

{% block title %}Confirmation of Changes to Booking{% endblock %}

{% block content %}
<h1 class="ui centered header">Please Confirm Changes</h1>

{% include 'includes/messages.html' %}

<div class="ui centered card">
    <div class="content">
        <form method="POST" action={% url 'confirm-changes-form' %} class="ui form">
            {% csrf_token %}
            <div class="ui medium header">
                Booking: {{ pnr }}
            </div>
            <div>
                 {% if adults_total %}
                    <div>
                        <p>{{ adults_total }}</p>
                    </div>
                {% endif %}
                {% if children_total %}
                    <div>
                        <p>{{ children_total }}</p>
                    </div>
                {% endif %}
                {% if infants_total %}
                    <div>
                        <p>{{ infants_total }}</p>
                    </div>
                {% endif %}
                {% if bags_total %}
                    <div>
                        <p>{{ bags_total }}</p>
                    </div>
                {% endif %}
                {% if admin_total %}
                    <div>
                        <p>{{ admin_total }}</p>
                    </div>
                {% endif %}
                <hr>
            </div>
            <div class="ui medium header">Total {{ total_price_string }}</div>
            <small><span>Non-refundable. Changeable subject to fees.</span>
            <span>Prices includes all applicable taxes and fees</span></small>
            <div id="agreeandpay">
                {% if total_price %}
                    <input type="submit" name="agree" class="ui primary button" value="Agree and pay now">
                {% else %}
                    <input type="submit" name="agree" class="ui primary button" value="Agree">
                {% endif %}

                <input type="submit" name="cancel" class="ui button red" value="Cancel">
            </div>
        </form>
    </div>
</div>

{% endblock content %}