{% extends 'includes/base.html' %}

{% block title %}Confirmation of Booking{% endblock %}

{% block content %}
<h1 class="ui centered header">Please Confirm Booking</h1>

{% include 'includes/messages.html' %}

<div class="ui centered card">
    <div class="content">
        <form method="POST" action={% url 'confirm-booking-form' %} class="ui form">
            {% csrf_token %}
            <div class="ui medium header">
                Booking: {{ pnr }}
            </div>
            <div>
                <div>
                    <p>Adults</p>
                    <p>{{ adults_total }}</p>
                </div>
                {% if children_total %}
                    <div>
                        <br>
                        <p>Children</p>
                        <p>{{ children_total }}</p>
                    </div>
                {% endif %}
                {% if infants_total %}
                    <div>
                        <br>
                        <p>Infants</p>
                        <p>{{ infants_total }}</p>
                    </div>
                {% endif %}
                {% if bags_total %}
                    <div>
                        <br>
                        <p>Bags</p>
                        <p>{{ bags_total }}</p>
                    </div>
                {% endif %}
                <hr>
            </div>
            <div class="ui medium header">Total {{ total_price_string }}</div>
            <small><span>Non-refundable. Changeable subject to fees.</span>
            <span>Prices includes all applicable taxes and fees</span></small>
            <div id="agreeandpay">
                <input type="submit" name="agree" class="ui primary button" value="Agree and pay now">
                <input type="submit" name="cancel" class="ui button red" value="Cancel">
            </div>
        </form>
    </div>
</div>

{% endblock content %}