{% extends 'includes/base.html' %}

{% block title %}Create Booking Form{% endblock %}


{% load static %}

{% block content %}
<h1 class="ui centered header">Create Booking</h1>

{% include 'includes/messages.html' %}

<div class="form-container">
    <form class="ui form form-centre" method="POST" action={% url 'create-booking-form' %}>
        {% csrf_token %}

        {{ form.as_p }}

        <p><input type="submit" class="ui button primary" value="Continue">
    </form>
</div>

<script type="text/javascript">
    let infantsField = document.getElementById("id_infants");
    infantsField.onchange = infantCheck;
</script>
{% endblock %}