{% extends 'includes/base.html' %}

{% block title %}Create Booking Form{% endblock %}


{% load static %}

{% block content %}
<h1 class="ui centered header">Create Booking</h1>

{% include 'includes/messages.html' %}

<div class="form-container">
    <form class="ui form form-centre" method="POST" action={% url 'create-booking-form' %}>
        {% csrf_token %}

        {{ form.as_p }}
        <p><input type="submit" class="ui button primary" value="Continue">
    </form>
</div>

<div class="ui mini modal toomanyinfants">
    <div class="ui header">
        You cannot travel with more infants than adults.
    </div>
    <div class="actions">
        <div class="ui negative button">
            Ok, Continue
        </div>
    </div>
</div>

<div class="ui mini modal no_adults">
    <div class="ui header">
        Children are not allowed to travel without an adult aged 16 or over.
    </div>
    <div class="actions">
        <div class="ui negative button">
            Ok, Continue
        </div>
    </div>
</div>

<script type="text/javascript">
    let returnField = document.getElementById("id_return_option");
    returnField.onchange = returnCheck;
    let infantsField = document.getElementById("id_infants");
    infantsField.onchange = infantsCheck;
</script>
{% endblock %}