{% extends 'includes/base.html' %}

{% block title %}Passenger Details Form{% endblock %}


{% load static %}

{% block content %}
    <h3>Passenger Details</h3>

    {% include 'includes/messages.html' %}

    <form class="ui form" method="POST" action={% url 'passenger-details-form' %}>
        {% csrf_token %}

        {{ adults_formset }}
     
        <br>

        {% for item in adults_formset %}
        <div class="fieldWrapper">
            {{ item.label }} {{ item }}
            {% if item.help_text %}
                {{ item.help_text|safe }}
            {% endif %}
        </div>
        <br>
    {% endfor %}
        
        <p><input type="submit" class="ui button primary" value="Submit">
    </form>
{% endblock %}