{% extends 'includes/base.html' %}

{% block title %}Passenger Details Form{% endblock %}


{% load static %}

{% block content %}

    <h1 class="ui centered header">Passenger Details</h1>

    {% include 'includes/messages.html' %}

    <form class="ui form" method="POST" action={% url 'passenger-details-form' %}>
        {% csrf_token %}

        {{ adults_formset.management_form }}
        {{ children_formset.management_form }}
        MF
        {{ adults_formset.as_p }}
        MF2
        {{ children_formset.as_p }}
        HIDDEN
        {{ hidden_form }}
     
        <br>
        
        <p><input type="submit" class="ui button primary" value="Continue">
    </form>
{% endblock %}