{% extends 'includes/base.html' %}
{% block title %}

Search Bookings

{% endblock %}

{% load static %}


{% block content %}

<h1 class="ui centered header">Bookings Containing "{{ query }}"</h1>
<h3 class="ui centered header">
    {% with queryset.count as total_results %}
        Found {{ total_results }} result{{ total_results|pluralize }}
    {% endwith %}
</h3>


{% for booking in page_object %}
    <div class="ui raised centered card">
        <div class="content">
            <div class="header">{{ booking.pnr }}</div>
        </div>
        <div class="content">
            <div class="ui small feed">
                <div class="event">
                    <div class="content">
                        <div class="summary">
                            <p>{{ booking.first_name }} {{ booking.last_name }}</p>
                            <p>{{ booking.outbound_flightno }}&nbsp;
                               {{ booking.ticket_class }}&nbsp;{{ booking.outbound_date|date:"dby"|upper }}&nbsp;
                               {{ booking.flight_from }}{{ booking.flight_to }}</p>
                               {% if booking.return_flight %}
                                        <p>{{ booking.inbound_flightno }}&nbsp;
                                           {{ booking.ticket_class }}&nbsp;
                                           {{ booking.inbound_date|date:"dby"|upper }}&nbsp;
                                           {{ booking.flight_to }}{{ booking.flight_from }}</p>
                               {% endif %}
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
        <div class="extra content">
            <a href="{% url 'view-booking' booking.pk %}" class="ui button">
                <i class="eye icon"></i> View
            </a>
        </div>
    </div>
{% endfor %}

<br>
<hr>

{% include "includes/pagination.html" %}

{% endblock content %}