{% extends 'includes/base.html' %}

{% block title %}View Booking{% endblock %}


{% load static %}

TODO
{% block content %}
<h1 class="ui centered header">View Booking</h1>
<div class="ui centered card">
    <div class="content">
        <div class="center aligned header">{{  booking.pnr }}</div>
        <hr>
        <div class="meta">Created: {{ display.created_at }}</div>
        <div class="description">
            <p>{{ booking.outbound_flightno }}&nbsp;{{ booking.ticket_class }}&nbsp;{{ display.outbound_date }}&nbsp;
                {{ booking.flight_from }}{{ booking.flight_to }}</p>
            {% if booking.return_flight %}
                <p>{{ booking.inbound_flightno }}&nbsp;{{ booking.ticket_class }}&nbsp;{{ display.inbound_date }}&nbsp;
                    {{  booking.flight_to }}{{ booking.flight_from }}</p>
            {% endif %}
            <hr>
            {% for pax in passengers %}
                <p><strong>{{ pax.title }}&nbsp;{{ pax.first_name }}&nbsp;{{ pax.last_name }}</strong></p>
                <p>Status&nbsp;{{ pax.status }}&nbsp;
                {% if pax.pax_type == "A" %}
                    (ADULT)
                {% elif pax.pax_type == "C" %}
                    (CHILD/{{ pax.date_of_birth }})
                {% else %}
                    (INFANT/{{ pax.date_of_birth }})
                {% endif %}
                </p>
                {% comment %}
                    "|length" is used just in case the number is a string of zeros i.e. 000000 
                {% endcomment %}
                {% if pax.contact_number|length %}
                    <p>Contact&nbsp;Telephone&nbsp;{{ pax.contact_number }}</p>
                {% endif %}
                {% if pax.contact_email %}
                    <p>Contact Email&nbsp;{{ pax.contact_email }}</p>
                {% endif %}
                <p>Seat&nbsp;23A</p>
                {% if pax.wheelchair_ssr %}
                    <p>SSR:{{ pax.wheelchair_ssr }}
                        {% if pax.wheelchair_type %}
                            &nbsp;{{ pax.wheelchair_type }}
                        {% endif %}
                    </p>
                {% endif %}
            {% endfor %}
            {%if booking.number_of_bags or booking.number_of_remarks %}
                <hr>
                {%if booking.number_of_bags %}
                    <p>{{ booking.number_of_bags }} Bags</p>
                {% endif %}
                {%if booking.remarks %}
                    <p><strong>Booking Remarks:</strong></p>
                    <p>{{ booking.remarks }} Bags</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="extra content">
        <a href={% url 'edit-booking' booking.id %} class="ui button primary">Edit</a>
        <a href={% url 'delete-booking' booking.id %} class="ui button red">Delete</a>
    </div>
</div>
{% endblock %}