{% extends 'includes/base.html' %}

{% block title %}View Booking{% endblock %}


{% load static %}


{% block content %}
    <h1 class="ui header">View Booking</h1>

    <div class="ui card">
        <div class="content">
          <div class="header">Employer: {{booking.company_name}}</div>
          <div class="description">
            <p>Total Employees: {{booking.number_of_employees}}</p>
          </div>
        </div>
        <div class="extra content">

            {% if booking.employer_test_flag %}
                <p>
                    <i class="check icon green"></i>    
                    YES  
                </p>

            {% else %}
                <p>
                    <i class="window close icon red"></i>      
                    NO
                </p>
            {% endif %}
         <a href="" class="ui button primary">Edit</a>
         <a href={% url 'delete-booking' booking.id %} class="ui button red">Delete</a>
    </div>

{% endblock %}