#id_return_option, 
#id_adults,
#id_children,
#id_infants {
    width: 50%;
}

#id_departing_date,
#id_returning_date {
    width: 40%;
}

/* Footer Solution found at https://stackoverflow.com/questions/34250019/footer-semantic-ui */

.my-main-style {min-height:74%; 
    padding-bottom:60px; 
    box-sizing:border-box;
}

.my-footer-style {
    /*background-color: #212121;*/
    position: absolute;
    margin-top: -50px;
    left: 0;
    width: 100%;
    padding: 15px 0;
}

ul.errorlist {display:none;}

/* TODO #homepage */
/*
@media only screen and (min-width: 600px)  {
    #homepage {
        height: 70vh;
    }
} 
*/


.errorlist {
    display: none;
    color:red
  }
  